@charset "UTF-8";
/* em html é id    =     em css é #
   em html é class =     em CSS é .
*/

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: green;
}

h1#principal {
    color: black;
    text-align: center;
}

h2 {
    color: rgb(85, 190, 85);
}

.subtitulo{
    color: red;
}