@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2CBBD, #6393A6);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #733B36;
}

h1 {
    color: #733B36;
}

h2 {
    color: #5D81A7;
    text-align: center;
    text-shadow: 1px 1px 2px #5D81A7;

}

p {
    text-align: justify;
}