@charset "UTF-8";
/* Cores do site
        principal #c5ebd6
        mais escura #08401b
        mais clara #05f26c
        */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "idroid";
    src: url("../fontes/idroid.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor_principal: #c5ebd6;
    --cor_mais_escura: #08401b;
    --cor_mais_clara: #05f26c;
    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: "Bebas Neue", cursive;
    --fonte_android: "idroid", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

/* O * quer dizer para todos os elementos do HTML*/

body {
    background-color: var(--cor_principal);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a.externo::after{
    content: '\1F517';

}


header {
    /*background: linear-gradient(to bottom, #05f26c, #08401b);*/
    background-image: linear-gradient(to bottom, var(--cor_mais_clara), var(--cor_mais_escura));
    width: 100%;
    min-height: 150px;
    text-align: center;

}

header>h1 {
    color: white;
    margin-bottom: 20px;
    padding-top: 40px;
    font-family: var(--fonte_destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
    font-weight: normal;
}

header>p {
    color: white;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px black;
}

nav {
    text-shadow: 0px 7px 9px black;
    padding: 10px;
    background-color: var(--cor_mais_escura);
}

nav a {
    color: white;
    font-family: var(--fonte_padrao);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor_mais_clara);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(51, 48, 48);
}

main h1 {
    font-family: var(--fonte_android);
    color: var(--cor_mais_escura);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte_android);
    color: var(--cor_mais_escura);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor_principal), transparent);
    text-indent: 8px;   
    font-weight: normal;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong {
    color: #08401b;
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    color: #08401b;
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: #05f26c;
}

main img {
    width: 100%;
    display: flex;
    justify-content: center;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor_principal);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor_mais_clara);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside >h3{
    background-color: var(--cor_mais_escura);
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
}

footer {
    background-color: #08401b;
    color: #e8f5e9;
    text-align: center;
    padding: 16px 12px;
    font-size: 0.95rem;
    letter-spacing: 0.3px;
}

footer>p {
    color: #e8f5e9;
    text-align: center;
    margin: 0;
    font-size: 0.95rem;
    letter-spacing: 0.3px;
}